<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.portalautocenter.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".CadastroUsuarioActivity" />
        <activity android:name=".PerfilActivity" />
        <activity
            android:name=".CarrosAbastecimentoActivity"
            android:label="@string/title_activity_carros_abastecimento"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.portalautocenter.app.MainActivity" />
        </activity>
        <activity
            android:name=".ControleAbastecimentoActivity"
            android:label="@string/title_activity_controle_abastecimento"
            android:parentActivityName=".CarrosAbastecimentoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.portalautocenter.app.CarrosAbastecimentoActivity" />
        </activity>
        <activity
            android:name=".InserirAbastecimentoActivity"
            android:label="@string/title_activity_inserir_abastecimento"
            android:parentActivityName=".ControleAbastecimentoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.portalautocenter.app.ControleAbastecimentoActivity" />
        </activity>
        <activity
            android:name=".EnderecoActivity"
            android:label="@string/title_activity_endereco"
            android:parentActivityName=".PerfilActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.portalautocenter.app.PerfilActivity" />
        </activity>
        <activity
            android:name=".InsertEnderecoActivity"
            android:label="@string/title_activity_insert_endereco"
            android:parentActivityName=".EnderecoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.portalautocenter.app.EnderecoActivity" />
        </activity>
        <activity
            android:name=".DetalheProdutoActivity"
            android:label="@string/title_activity_detalhe_produto"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.portalautocenter.app.MainActivity" />
        </activity>
        <activity
            android:name=".CarrinhoActivity"
            android:label="@string/title_activity_carrinho"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.portalautocenter.app.MainActivity" />
        </activity>
        <activity
            android:name=".PagamentoActivity"
            android:label="@string/title_activity_pagamento"
            android:parentActivityName=".EnderecoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.portalautocenter.app.EnderecoActivity" />
        </activity>
    </application>

</manifest>